spin_manifest_version = 2

[application]
name = "pickforme"
version = "0.1.0"
authors = ["Michelle Dhanani <michelle@fermyon.com>"]
description = ""

[[trigger.http]]
route = "/..."
component = "frontend"

[component.frontend]
source = { url = "https://github.com/fermyon/spin-fileserver/releases/download/v0.2.1/spin_static_fs.wasm", digest = "sha256:5f05b15f0f7cd353d390bc5ebffec7fe25c6a6d7a05b9366c86dcb1a346e9f0f" }
files = [{ source = "frontend/dist/", destination = "/" }]
[component.frontend.build]
command = "NODE_ENV=production npm run build"
workdir = "frontend"

[[trigger.http]]
route = "/result/info"
component = "random-fact"

[component.random-fact]
source = "random-fact/target/wasm32-wasi/release/random_fact.wasm"
allowed_outbound_hosts = []
ai_models = ["llama2-chat"]
[component.random-fact.build]
command = "cargo build --target wasm32-wasi --release"
workdir = "random-fact"
watch = ["src/**/*.rs", "Cargo.toml"]
